/* App.css */
/* Estilos generales */
body {
	background-color: #f7f7f7;
	font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
.header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

.header h1 {
	font-size: 24px;
}

/* Estilos para enlaces */
a {
	text-decoration: none;
	color: #007bff;
}

a:hover {
	text-decoration: underline;
}
